.note {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FEF68A;
    border-radius: 10px;
    padding: 1rem;
    min-height: 170px;
}

.note p {
    word-wrap: break-word;
}

.new {
    background-color: #67D7CC;
}

textarea {
    border: none;
    resize: none;
    background-color: #67D7CC;
}

textarea:focus {
    outline: none;
}

.btnSave {
    background-color: #E1E1E1;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
}

.btnSave:hover {
    background-color: #EDEDED;
    cursor: pointer;
}

.note-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}