.search {
    display: flex;
    align-items: center;
    background-color: #E9E9E9;
    border-radius: 10px;
    padding: 5px;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.search .search-icons {

}

.search input {
    background-color: #E9E9E9;
    border: none;
    outline: none;
}

.search input:focus {
    outline: none;
}